{% if cals %}
	<div class="row">
	{% for item in cals %}
	 <div class="col s12">
	   <div class="right-card card z-depth-1">
	     <div class="card-image z-depth-2">
	     	<a href="{{ item.url }}" target="_blank">
	       		<img src="{{ item.img_src }}" width='100%' alt="">
	       	</a>
	     </div>
	     <div class="card-content">
	       <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
	     </div>
	     <div class="card-action">
			{{ item.created_at|date:'Y-m-d' }} 发布
	     </div>
	   </div>
	 </div>
	{% endfor %}
	</div>
{% endif %}


