html {
  /*font-family: Arial, sans-serif;*/
  font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
  font-size: 70%;
}

body {
  background: -webkit-linear-gradient(top, #f6f7fc 0%, #d5e1e8 40%);
  background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);

  background-repeat: no-repeat;
}


form {
  background-color: white;
}


.body-container {
	padding-top: 1em;
  max-width: 1200px;
  min-width: 512px;
  margin: auto;
}

.row {
  margin-bottom: 0;
}


/* NAVBAR */
.nav-wrapper {
	padding: 0 1em;
}


/* LEFT DIV - PROFILE */
.profile-card{
  border-radius:0.3em;
}

.profile-card .card-image {
  position: static;
}

.profile-card .card-image img {
  position: static;
  border-top-left-radius: 0.3em;
  border-top-right-radius:0.3em;
  width:100%;
}

.profile-card .card-protrait_image img{
  width:30%;
  margin-top:-15%;
  border: 2px solid white;

  transition:box-shadow 0.2s ease-in-out;
  -moz-transition:box-shadow 0.2s ease-in-out;
  -webkit-transition:box-shadow 0.2s ease-in-out;
  -o-transition:box-shadow 0.2s ease-in-out;
}

.profile-card .card-protrait_image img:hover {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.profile-card .card-content .username{
  font-size: 2em;
  font-weight: 700;
}

.profile-card .card-content .signature{
  margin-top: 1em;
}

.profile-card .card-extra_content{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;   /*属性值：[horizontal]横向/[vertical]纵向*/
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  border-top:1px solid rgba(0,0,0,.05)!important;
  padding: 1em 1em;
}

.profile-card .card-extra_content *{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#portrait.modal {
  width: 400px;
}

.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
}

.cropit-preview-image-container {
  cursor: move;
}

.image-size-label {
  margin-top: 10px;
}



/* LEFT DIV - ABOUT-CARD */
.about-card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}

.about-card .card-content .collection-item .btn {
  padding: 0 15px;

  transform: scale(0.8);
  -ms-transform:r scale(0.8);  /* IE 9 */
  -moz-transform: scale(0.8);  /* Firefox */
  -webkit-transform: scale(0.8); /* Safari 和 Chrome */
  -o-transform: scale(0.8);  /* Opera */
}

.about-card .collection-item {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.about-card .collection-item .user-follow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* CENTER DIV - POST-FORM */
.post-form.collapsible.popout > li {
    box-shadow: 0 2px 5px 0 rgba(6, 234, 234, 0.22), 0 2px 10px 0 rgba(4, 241, 224, 0.25);
}

/* CENTER DIV - POST */
.post-card {
    width: 100%;
    min-height: 0;
    margin-bottom: 2em;
}

.post-card .card-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  border-top: 0;
  padding: 0.5em 1em;
}

.post-card .card-action a {
     margin-right: 0px!important; 
}

.post-card .card-action .author {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  font-size: 14px;
  color: rgba(31, 31, 31, 0.87);
}

.post-card .card-action .avatar {
	width:2em;
  border-radius: 100%;
  margin: 0 5px;
}

.post-card .card-action .btn {
	margin-left: 1em;
}



/* CENTER DIV - COMMENT*/
.comments-div {
  padding: 2em 1em 1em 1em;
  margin: -2em 1em -1em 1em;

  background: #fff;
}

.comments-div .comment-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.comments-div .comment-form .comment-input {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  margin-right: 1em;
}

.comment {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.comment>.comment__header .comment__avatar {
  width:2em;
  border-radius: 100%;
}

.comment>.comment__header>.comment__author {
  float: left;
}

.comment>.comment__header>.comment__actions {
  float: right;
}

.comment>.comment__text {
  margin-left: 2em;
}

.comment>.comment__date {
  margin-left: 2em;
}



/* RIGHT DIV */
.right-card {
  width: 100%;
  min-height: 0;
  margin-bottom: 1em;

  transition:box-shadow 0.3s ease-in-out;
  -moz-transition:box-shadow 0.3s ease-in-out;
  -webkit-transition:box-shadow 0.3s ease-in-out;
  -o-transition:box-shadow 0.3s ease-in-out;

}

.right-card:hover {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.right-card .card-content {
	padding: 0.5em;
}

.right-card .card-action {
	padding: 0 0.5em;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-card .card-action .time {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;*/
}

.right-card .ding.badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-color: pink;
    color: white;
}

/* DESTINATION */
.row .destination-card.col.m6 {
    height: 160px;
}

figure {
  width: 100%;
  height: 100%;
}

figure.effect-roxy figcaption {
  padding: 0 3em;
  width: 100%;
}

figure.effect-roxy figcaption:before {
  position: absolute;
  top: 10px;
  right: 50px;
  bottom: 10px;
  left: 10px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}

figure.effect-roxy p {
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}


/* INFORMATION_LIST */
.list.card-image {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
}

.list.card-image img {
  width: 100%;
}


/* PEOPLE - ACTIVITY_LIST */
.activity-content {
  text-indent: 2em;
}


/* ABOUT ME */
.about-me {
    border: 3px solid white;
    border-radius: 10px;
    padding: 2em;
    margin-top: 4em;

    min-width: 350px;
}

.about-me p {
  font-size: 14px;
  color: white;
}

.about-me a {
  color: white;
}

 .about-me [class^="mdi-"], [class*="mdi-"] {
    font-size: large;
}