{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load material_form %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block style-content %}
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        background-image: url(https://images.unsplash.com/photo-1439074216907-51e7025705db?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-height:100%;
        height:100%;
    }

    nav {
        color: transparent;
        background-color: transparent;
    }

    .indigo {
            background-color: transparent !important;
        }

    .z-depth-1, nav, .dropdown-content, .collapsible, .side-nav {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
    }
    
</style>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card z-depth-4">
            <form method="POST">
            {% csrf_token %}
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% trans 'Log in' %}</span>
                    {% form form=form %}
                        {% part form.username prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                        {% part form.password prefix %}<i class="mdi-action-lock-open prefix"></i>{% endpart %}
                    {% endform %}
                </div>
                
                <div class="card-action">       
                    <div class="right-align">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Log in' %}</button>
                    </div> 
                    <p>{% trans 'Forgot your password?' %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a></p>
                    <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>      
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
