{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load material_form %}

{% block title %}{% trans "Register for an account" %}{% endblock %}


{% block style-content %}
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        background-image: url(https://images.unsplash.com/photo-1439074216907-51e7025705db?crop=entropy&dpr=2&fit=crop&fm=jpg&h=625&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        min-height:100%;
        height:100%;
    }
    nav {
        color: transparent;
        background-color: transparent;
    }

    .indigo {
            background-color: transparent !important;
        }

    .z-depth-1, nav, .dropdown-content, .collapsible, .side-nav {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
    }
</style>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
        <div class="card">

            <form method="POST" action="">
            {% csrf_token %}
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% trans "Register" %}</span>
                    {% form form=form %}
                        {% part form.username prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
                        {% part form.email prefix %}<i class="mdi-communication-email prefix"></i>{% endpart %}
                        {% part form.password1 prefix %}<i class="mdi-action-lock-open prefix"></i>{% endpart %}
                        {% part form.password2 prefix %}<i class="mdi-action-lock-outline prefix"></i>{% endpart %}
                    {% endform %}
                    
                </div>
                
                <div class="card-action">       
                    <div class="right-align">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Register" %}</button>
                    </div>   
                </div>

            </form>

        </div>
    </div>
</div>


{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
