{% load staticfiles %}

<div class="profile-card mdl-shadow--2dp center">
  <div class="background-image">
    <img src="{% static 'blog/images/background.jpg' %}">
  </div>
  <div class="protrait-image">
    <img class="circular mdl-shadow--4dp" src="{% static 'blog/images/veronika.jpg' %}">
  </div>
  <div class="content">
    <a class="username">{{ user_prof.user.username }}</a>
    <div class="signature mdl-color-text--grey-700">{{ user_prof.signature }}</div>
  </div>
  <div class="extra-content">
    <div class="posts">
      <small><strong class="num">{{ user_prof.posts_num }}</strong> 博文</small>
    </div>
    <div class="follows">
      <small><strong class="num">{{ user_prof.follows_num}}</strong> 关注者</small>
    </div>
    <div class="followers">
      <small><strong class="num">{{ user_prof.followers_num}}</strong> 粉丝</small>
    </div>
  </div>
</div>



