{% load staticfiles %}


<div class="ui card center">
  <div class="image">
    <img src="{% static 'blog/images/background.jpg' %}">
  </div>
  <div class="content" id="left-card-profile-content">
    <img class="ui circular image" src="{% static 'blog/images/veronika.jpg' %}">
    <a class="header">{{ user_prof.user.username }}</a>
    <div class="description">今天天气不错。。。。</div>
  </div>
  <div class="extra content">
    <div class="ui small horizontal divided list">
      <div class="item">
        <a><i class="file text outline icon"></i>博文 </a>
      </div>
      <div class="item">
        <a><i class="heart icon"></i> 128 关注 </a>
      </div>
      <div class="item">
        <a><i class="users icon"></i> 356 粉丝 </a>
      </div>
    </div>
  </div>
</div>



