{% extends "index/homepage.html" %}

{% load blog_extras %}

{% block title %}信息汇总列表{% endblock title %}

{% block content %}

<div class="row">

  <div class="col s12 m12 l3">
    <div class="row">
      <div class="col s12">

        {% get_userprofile_info user user_of_this_page %}

      </div>
      <div class="col s12 hide-on-med-and-down">
        
        {% if user.is_authenticated %}
          {% get_interested_people u_login %}
        {% endif %}

      </div>
    </div>

  </div>

  <div class="col s12 m12 l9">
      
    <div class="row">
    	{% for item in query_items  %}
	  			{% if cat == 'posts' %}
	  				<div class="col s4 m6 l3">
				        <div class="card">
						    <div class="list card-image waves-effect waves-block waves-light">
						    	{% if item.picture %}
						       		<img class="activator" src="{{ item.picture.url }}">
						       	{% endif %}
						     </div>
						     <div class="card-content">
						       <span class="activator grey-text text-darken-4">{{ item.title|truncatechars:10 }}<i
						       class="mdi-navigation-more-vert right"></i></span>
						     </div>
						     <div class="card-reveal">
						       <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
                               <p>{{ item.content|truncatechars:30 }}</p>
						    </div>
						</div>
					</div>
	  			{% else %}
		  			<div class="col s6 m3 l3">
				       <div class="card">
				       		<div class="card-image">
					           <img src="{{ item.userprofile.portrait.url }}">
					         </div>
				         <div class="card-content">
				           <a href="{% url 'homepage' item.username %}">{{ item.username }}</a>
				           {% if cat == 'follows' %}
						        
						        	{% if item.situation == '0' %}
										<a class="follow-btn right waves-effect waves-light btn" data-ip-id='{{ item.id }}'>已关注</a>
							        {% elif item.situation == '1' %}
							        	<a class="follow-btn right waves-effect waves-light btn pink" data-ip-id='{{ item.id }}'>相互关注</a>
							        {% endif %}
						        
				           	{% elif cat == 'followers' %}
				           			
				           			{% if item.situation == '0' %}
				           				<a class="follow-btn right waves-effect waves-light btn grey" data-ip-id='{{ item.id }}'>关注</a>
					           		{% elif item.situation == '1' %}
					           			<a class="follow-btn right waves-effect waves-light btn pink" data-ip-id='{{ item.id }}'>相互关注</a>
					           		{% endif %}

				           {% endif %}
				           
				         </div>
				       </div>
			       </div>
	  			{% endif %}
	  	{% endfor %}
	</div>
      
  </div>

</div>

{% endblock %}