{% extends 'base.html' %}

{% load blog_extras %}
{% load spider_extras %}

{% block content %}

<div class="row">

  <div class="col s12 m12 l3">
    <div class="row">
      <div class="col s12">

        {% get_userprofile_info user user_of_this_page %}

      </div>
      <div class="col s12 hide-on-med-and-down">
        {% if user.is_authenticated %}
          {% get_interested_people u_login %}
        {% endif %}

      </div>
    </div>

  </div>

  <div class="col s12 m12 l6">

      {% include 'index/center/center.html' %}
      
  </div>

  <div class="col l3 hide-on-med-and-down">

    {% get_calendar_list %}
    
  </div>

</div>

{% endblock %}
