a {
    text-decoration: none;
}

.circular{
    border-radius:100%;
}

.center{
    text-align: center;
}



/* PROFILE CARD*/

.profile-card{
    border-radius:0.3em;
}

.profile-card>.background-image>img{
    border-top-left-radius: 0.3em;
    border-top-right-radius:0.3em;
    width:100%;
}

.profile-card>.protrait-image>img{
    width:30%;
    margin-top:-15%;
    border: 2px solid white;
}

.profile-card>.content{
    padding: 1em 3em;
}

.profile-card>.content>.username{
    font-size: 2em;
    font-weight: 700;
}

.profile-card>.content>.signature{
    margin-top: 1em;
}

.profile-card>.extra-content{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;   /*属性值：[horizontal]横向/[vertical]纵向*/
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    border-top:1px solid rgba(0,0,0,.05)!important;
    color:rgba(0,0,0,.4);
    padding: 1em 1em;
}

.profile-card>.extra-content>*{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.profile-card>.extra-content .num{
    color: #585858;
}

.profile-card>.extra-content>.follows{
    border-left: 1px solid rgba(0,0,0,.4);
    border-right: 1px solid rgba(0,0,0,.4);
}


/* ABOUT CARD */
.about-card {
    width: 100%;
}

.about-card>.mdl-card__supporting-text {
    padding: 0 16px;
}

.about-card>.mdl-card__supporting-text>.mdl-list {
    margin: 0 0;
    padding: 0 0;
}

.about-card .mdl-list>.mdl-list__item {
    padding: 5px 16px;
    min-height: 0px;
}

/* CENTER DIV */
.center-div {

    padding: 1em 1em;
}

.post-card {
    width: 100%;
}

.post-card>a {
    display: block;
}

.post-card .mdl-card__title {
    position: absolute;
    bottom: 0;

    color: white;
}

.post-card>.mdl-card__actions>.author {
    display: inline-block;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.87);
}

.post-card>.mdl-card__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.post-card>.mdl-card__actions>.author {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post-card>.mdl-card__actions .avatar {
    width:2em;
    border-radius: 100%;
    margin: 0 5px;
}

.post-card>.mdl-card__actions button {
    float: right;
    margin-left: 16px;
}


