<!doctype html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="繁忙的生活节奏，找个时间，和朋友约个时间，出门散散心吧">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>散散心</title>


    <link rel="stylesheet" href="{% static 'blog/css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 
  </head>


  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      <header class="mdl-layout__header">
        <img class="mdl-layout-icon"></img>
        {% include 'navbar.html' %}
      </header>

      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
                {% include 'left/left_profile.html' %}
              </div>
              <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone">
                {% include 'left/left_about.html' %}
              </div>
            </div>
          </div>

          <div class="center-div mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            {% include 'center/center.html' %}

          </div>

          <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--12-col-phone">
            {% include 'right.html' %}

          </div>
        </div>
      </main>

    </div>


    <script src="{% static 'blog/js/material.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/custom.js' %}"></script>
  </body>
</html>
