<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}散散心{% endblock title %}</title>

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/font-awesome.min.css' %}" rel="stylesheet">

</head>

<body class="gray-bg top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                {% include 'navbar.html' %}
            </div>
            <div class="wrapper wrapper-content">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-3">
                          {% include 'right.html' %}
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nihil libero deserunt similique iste minima ratione, hic inventore praesentium corporis necessitatibus ea, aperiam ab, illo dolores. Suscipit ad vel, neque.</p>
                        </div>
                        <div class="col-lg-6">
                          {% include 'center.html' %}
                        </div>

                        <div class="col-lg-3">
                          {% include 'right.html' %}
                        </div>

                    </div>

                    {% include 'bottom.html' %}

                </div>

            </div>
            <div class="footer">
                <div class="pull-right">
                    By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
                </div>
                <div>
                    <strong>Copyright</strong> H+ &copy; 2014
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/content.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'blog/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'blog/js/plugins/chartJs/Chart.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'blog/js/demo/peity-demo.min.js' %}"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>
