<div class="ui raised segment">
  <div class="ui divided items">
    
    {% for post in all_posts %}
      <div class="item">
        <a class="ui tiny image">
          <img src="/images/avatar/large/stevie.jpg">
        </a>
        <div class="content">
          <a class="header">
            {% if post.user.username == user.username %}
              我
            {% else %}
              {{ post.user.username }}
            {% endif %}
          </a>
          <div class="description">
            <p>{{ post.content }}</p>
          </div>
          {% include 'comment/comments.html' %}
        </div>
      </div>
    {% endfor %}

  </div>
</div>
