{% load staticfiles %}

<div class="post-card mdl-card mdl-shadow--6dp">
  <a href="#" style="position:relative;">
    <div class="mdl-card__title">
       <h2 class="mdl-card__title-text">Auckland Sky Tower</h2>
    </div>

    <div class="mdl-card__media mdl-shadow--4dp">
      <img src="{% static 'blog/images/background.jpg' %}" width='100%' alt="">
    </div>
  </a>

  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
  <div class="mdl-card__actions mdl-shadow--3dp">
    <img class="avatar" src="{% static "blog/images/veronika.jpg" %}" alt="">
     <div href="" class="author">
       <strong>lkl</strong>
       <span>2天前 发布</span>
     </div>
     
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <i class="material-icons">comment</i>234
     </button>
     <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">thumb_up</i>1223
    </button>
  </div>
</div>


<div class="comment mdl-color-text--grey-700">
<header class="comment__header">
  <img src="images/co1.jpg" class="comment__avatar">
  <div>
    <strong>James Splayd</strong>
    <span>2 days ago</span>
  </div>
</header>
<div class="comment__text">
  In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
</div>
<nav class="comment__actions">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
  </button>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
  </button>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
  </button>
</nav>

