{% extends 'base.html' %}

{% load blog_extras %}

{% block content %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

          {% get_userprofile_info user %}

        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-tablet mdl-cell--hide-phone">
          
          {% include 'left/about.html' %}

        </div>
      </div>
    </div>

    <div class="center-div mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">

      {% include 'center/posts.html' %}

    </div>

    <div class="right-div mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--12-col-phone mdl-cell--hide-tablet mdl-cell--hide-phone">

      {% get_mafengwo_list %}

    </div>
  </div>
{% endblock %}
