{% load staticfiles %}

<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="{% static 'blog/images/kristy.png' %}">
    </div>
    <div class="content" id="left-card-profile-content">

      <a class="header">步惊云</a>
      <div class="meta">
        <span class="date">2013年加入</span>
      </div>
      <div class="description">今天天气不错。。。。</div>
    </div>
    <div class="extra content">
      <div class="ui small horizontal divided list">
        <div class="item">
          <a><i class="file text outline icon"></i> 756 博文 </a>
        </div>
        <div class="item">
          <a><i class="heart icon"></i> 128 关注 </a>
        </div>
        <div class="item">
          <a><i class="users icon"></i> 356 粉丝 </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui card" id="left-card-about">
  <div class="content">
    <div class="header">关于</div>
    <div class="meta">
      <a>编辑</a>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">Semantic UI </div>
      </div>
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">New York, NY </div>
      </div>
      <div class="item">
        <i class="mail icon"></i>
        <div class="content">
          <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
        </div>
      </div>
      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="http://www.semantic-ui.com">semantic-ui.com</a>
        </div>
      </div>
    </div>
  </div>
</div>