<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>用户行为统计</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-4">
                <small class="stats-label">访问页面 / 浏览量</small>
                <h4>236 321.80</h4>
            </div>

            <div class="col-xs-4">
                <small class="stats-label">% 新访客</small>
                <h4>46.11%</h4>
            </div>
            <div class="col-xs-4">
                <small class="stats-label">最后一周</small>
                <h4>432.021</h4>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-4">
                <small class="stats-label">访问页面 / 浏览量</small>
                <h4>643 321.10</h4>
            </div>

            <div class="col-xs-4">
                <small class="stats-label">% 新访客</small>
                <h4>92.43%</h4>
            </div>
            <div class="col-xs-4">
                <small class="stats-label">最后一周</small>
                <h4>564.554</h4>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-4">
                <small class="stats-label">访问页面 / 浏览量</small>
                <h4>436 547.20</h4>
            </div>

            <div class="col-xs-4">
                <small class="stats-label">% 新访客</small>
                <h4>150.23%</h4>
            </div>
            <div class="col-xs-4">
                <small class="stats-label">最后一周</small>
                <h4>124.990</h4>
            </div>
        </div>
    </div>
</div>