{% load staticfiles %}

{% for post in all_posts %}
<div id="{{ post.id }}">
  <div class="post-card mdl-card mdl-shadow--6dp">
    <a href="#" style="position:relative;">
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      </div>

      <div class="mdl-card__media mdl-shadow--4dp">
        <img src="{{ post.picture.url }}" width='100%' alt="">
      </div>
    </a>

    <div class="mdl-card__supporting-text">
    {{ post.content }}
    </div>
    <div class="mdl-card__actions mdl-shadow--3dp">
      <img class="avatar" src="{% static "blog/images/veronika.jpg" %}" alt="">
       <div href="" class="author">
         <strong>{{ post.user.username }}</strong>
         <span>{{ post.created_at|timesince }} 前发布</span>
       </div>
       
       <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">thumb_up</i>1223
       </button>
       <button class="comment-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-post-id='{{ post.id }}'>
        <i class="material-icons">comment</i>234
       </button>
    </div>
  </div>

  <div class="comments-div mdl-shadow--2dp mdl-color-text--grey-700" style="display: none;">
    
    <form action="/comments/post_comment/" method="POST"  class="comment-form">
    {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield">
        <input type="hidden" name="comment_to" value="{{ post.id }}" />
        <textarea rows="1" class="comment-input mdl-textfield__input" type="text" name='comment_field'></textarea>
        <table>
          <tr><td>{{ form.comment_content_field.errors }}</td></tr>
        </table>
        <label class="mdl-textfield__label" >说些什么吧^_^</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab" type="submit" name="submit">
        <i class="material-icons" style="color:white;">add</i>
      </button>
    </form>
    
    <div class="comments-content"></div>

  </div>

</div>

{% endfor %}
