{% load staticfiles %}

{% for comment in comments_of_this_post %}
  <div class="comment" >
    <div class="comment__header">
      <div class="comment__author valign-wrapper">
        <img class="comment__avatar" src="{% static "blog/images/veronika.jpg" %}">
        <strong class="valign">{{ comment.by.username }}</strong>
        {% if comment.reply_to %}
          <small>&nbsp;&nbsp;回复：{{ comment.reply_to.username }}</small>
        {% endif %}
      </div>
      <div class="comment__actions">
        <a class="reply-button waves-effect waves-teal btn-flat" data-author-name='{{ comment.by.username }}' data-post-id='{{ post_id }}'>回复</a>
      </div>
      <div style="clear: both"></div>
    </div>
    <div class="comment__text">
      {{ comment.content }}
    </div>
    <small class="comment__date">{{ comment.created_at|timesince }} 前发布</small>
  </div>
{% endfor %}

