{% load staticfiles %}

{% for post in all_posts %}
<div id="{{ post.id }}">
  <div class="post-card card z-depth-2">
	 <div class="card-image z-depth-2">
	   <img src="{{ post.picture.url }}" width='100%'>
	   <span class="card-title">{{ post.title }}</span>
	 </div>
	 <div class="card-content">
	   <p>{{ post.content }}</p>
	 </div>
	 <div class="card-action z-depth-1">
	   <img class="avatar circle responsive-img" src="{% static "blog/images/veronika.jpg" %}" alt="">
	   <div href="" class="author">
	     <strong>{{ post.user.username }}</strong>
	     <span>{{ post.created_at|timesince }} 前发布</span>
	   </div>
	   
      <a class="waves-effect waves-light btn indigo">
        <i class="mdi-action-thumb-up left"></i>1223
      </a>
      <a class="comment-button waves-effect waves-light btn pink" data-post-id='{{ post.id }}'>
        <i class="mdi-communication-textsms left"></i>234
      </a>

	 </div>
	</div>

	<div class="comments-div z-depth-1" style="display: none;">

		<div class="row">
			<form class="comment-form col s12" action="/comments/post_comment/" method="POST">
			{% csrf_token %}
		
            <input type="hidden" name="comment_to" value="{{ post.id }}" />
			      <input class="comment-input" type="text" name='comment_field' placeholder="说些什么吧^_^">

			    	<button class="btn waves-effect waves-light" type="submit" name="submit">评论
						  <i class="mdi-content-send right"></i>
					   </button>

			</form>
		</div>

		<div class="comments-content"></div>
	</div>

</div>

{% endfor %}


<ul class="pagination center-align">
  <li class="{% if all_posts.has_previous %}waves-effect{% else %}disabled{% endif %}">
    <a {% if all_posts.has_previous %} 
          href="{% url 'pagination_page' all_posts.previous_page_number %}"
        {% endif %}><i class="mdi-navigation-chevron-left"></i></a></li>

  {% for p_num in all_posts.page_range %}
    <li class="{% if p_num == all_posts.number %}active{% else %}waves-effect{% endif %}">
      <a href="{% url 'pagination_page' p_num %}">{{ p_num }}</a>
    </li>
  {% endfor %}
  
  <li class="{% if all_posts.has_previous %}waves-effect{% else %}disabled{% endif %}">
    <a {% if all_posts.has_next %} 
          href="{% url 'pagination_page' all_posts.next_page_number %}"
        {% endif %}><i class="mdi-navigation-chevron-right"></i></a></li>
</ul>
