{% load staticfiles %}

<div class="row">
 <div class="col s12">
   <div class="profile-card card z-depth-1 center-align">
     <div class="card-image z-depth-1">
       <img src="{% static 'blog/images/background.jpg' %}">
     </div>
     <div class="card-protrait_image center-align">
     {% if user.is_authenticated and user == user_of_this_page %}
       <a data-target="portrait" class="modal-trigger">
      {% else %}
        <a>
     {% endif %}
        <img class="circle z-depth-2" src="{{ user_prof.portrait.url }}">
      </a>
     </div>
     {% include 'index/left/portrait.html' %}
     <div class="card-content">
      <a class="username" href="{% url 'my_page' user_prof.user.username %}">{{ user_prof.user.username }}</a>
      <span class="grey-text">连续登录{{ user_prof.visits }}天</span>
      <div class="signature mdl-color-text--grey-700">{{ user_prof.signature }}</div>
     </div>
     <div class="card-extra_content">
        <div class="posts">
          <small><a class="num" href="{% url 'query_cat' user_prof.user.username %}?cat=posts">{{ user_prof.posts_num }} 博文</a></small>
        </div>
        <div class="follows">
          <small><a class="num" href="{% url 'query_cat' user_prof.user.username %}?cat=follows">{{ user_prof.follows_num}} 关注者</a></small>
        </div>
        <div class="followers">
          <small><a class="num" href="{% url 'query_cat' user_prof.user.username %}?cat=followers">{{ user_prof.followers_num}} 粉丝</a></small>
        </div>
     </div>
   </div>
 </div>
</div>

