{% load material_form %}


<ul class="post-form collapsible popout" data-collapsible="accordion">
 <li>
   <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>点此分享你的新发现</div>
   <div class="collapsible-body">
        <form class="z-depth-1" method="POST" action="/posts/post_postitem/" enctype="multipart/form-data">
        {% csrf_token %}
            {% form form=post_form %}{% endform %}
            <div class="right-align">
                <button type="submit" class="btn">发布</button>
            </div>
        </form>
   </div>
 </li>
</ul>

