{% load staticfiles %}

{% for post in all_posts %}
	
	<div id="{{ post.id }}">
	  <div class="post-card card z-depth-2">
		  {% if post.picture %}
		  	<div class="card-image z-depth-1">
			 	<img src="{{ post.picture.url }}" width='100%'>
			   <span class="card-title">{{ post.title }}</span>
			 </div>
		  {% else %}
		  	<div class="card-image z-depth-1">
			   <span class="card-title" style="position:static;color:#9e9e9e">{{ post.title }}</span>
			 </div>
		  {% endif %}
		 
		 <div class="card-content">
		   <p>{{ post.content|truncatewords:140 }}</p>
		 </div>

		 <div class="card-action z-depth-1">
		 	<a href="{% url 'homepage' post.user.username %}">
		 		<img class="avatar circle responsive-img" src="{{ post.user.userprofile.portrait.url }}" alt="">
		 	</a>
		   <div href="" class="author">
		     <strong>{{ post.user.username }}</strong>
		     <span>{{ post.created_at|timesince }} 前发布</span>
		   </div>
		   

			{% if post.id in all_my_likes %}
				<a class="like-button waves-effect waves-light btn" data-post-id='{{ post.id }}' data-user-id='{{ user.id }}'>
					<i class="mdi-action-thumb-up left"></i><span>{{ post.likes_num }}</span>
				</a>
			{% else %}
				<a class="like-button waves-effect waves-light btn grey" data-post-id='{{ post.id }}' data-user-id='{{ user.id }}'>
					<i class="mdi-action-thumb-up left"></i><span>{{ post.likes_num }}</span>
				</a>
			{% endif %}

			{% if post.id in all_my_comments %}
				<a class="comment-button waves-effect waves-light btn pink" data-post-id='{{ post.id }}'>
					<i class="mdi-communication-textsms left"></i>{{ post.comments_num }}
				</a>
			{% else %}
				<a class="comment-button waves-effect waves-light btn grey" data-post-id='{{ post.id }}'>
					<i class="mdi-communication-textsms left"></i>{{ post.comments_num }}
				</a>
			{% endif %}

			
			

		 </div>
		</div>

		<div class="comments-div z-depth-1" style="display: none;">

			<div class="row">
				<form class="comment-form col s12" action="/comments/post_comment/" method="POST">
				{% csrf_token %}
			
	            <input type="hidden" name="comment_to" value="{{ post.id }}" />
				      <input class="comment-input" type="text" name='comment_field' placeholder="说些什么吧^_^">

				    	<button class="btn waves-effect waves-light" type="submit" name="submit">评论
							  <i class="mdi-content-send right"></i>
						   </button>

				</form>
			</div>

			<div class="comments-content"></div>
		</div>

	</div>

{% endfor %}

